<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {{{_sections.head}}}
    <title>{{title}}</title>
    <!-- Font Awesome -->
    <link rel='stylesheet' href='/font/fontawesome-free/css/all.css'/>
    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <!-- Material Design Bootstrap -->
    <link rel='stylesheet' href='/stylesheets/mdb.min.css'/>
    <!-- Your custom styles (optional) -->
    <link rel='stylesheet' href='/stylesheets/sass/main.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
<header>
    {{#if isAuthenticated}}
        {{> login_nav}}
    {{else}}
        {{> logout_nav}}
    {{/if}}
</header>
<main class="mt-5 pt-5">
    <div class="container">
        {{#unless isAuthenticated}}
            {{> register_modal}}
        {{/unless}}
        {{{body}}}
    </div>
</main>
<div class="clear"></div>
{{> footer }}

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/javascripts/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/javascripts/mdb.min.js"></script>
{{{_sections.javascript}}}
</body>

</html>
